/db/
yarn-error.log
.env
test/temp/
build/
solidity/node_modules/
solidity/artifacts/
solidity/artifacts/
cache/
.openzeppelin
safe-contracts/node_modules/
.idea/
contracts/.DS_Store
.DS_Store
scripts/config/
yarn.lock
package-lock.json
node_modules